@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
    font-family: "Poppins";
}
@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
    font-family: "Arial";
}


.font-poppins{
    font-family:"Poppins"
}