@import "../../assets/scss/colors.scss";

.signup-text {
  color: $color-palered;
}

.signin-form {
  width: 374px;
  height: 551px;
  background: #f2f2f2;
  mix-blend-mode: normal;
  border: 1px solid #f2f2f2;
  box-shadow: 11px 11px 25px rgba(0, 0, 0, 0.25), -11px -11px 25px #ffffff;
  border-radius: 45px;
}
